*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
    background-color: #000;
  }
ul{
    list-style-type: none;
    padding-left: 0;
    background-color: #fff;
}
.tab-menu-item{
    text-transform: capitalize;
    float: left;
    margin-right: 16px;
}
.tab-menu{
    max-width: 540px;
}
.tab-menu-item>a{    
    display: block;
    padding: 16px 20px;    
    font-size: 18px;
    line-height: 20px;
    color: #8492a6;
    text-decoration: none;  

}

.tab-menu-item>a:hover{
    border-bottom: 2px solid blue;
    color: blue;
    font-weight: 500;
}
.tab-menu::after{
    content: '';
    display: block;
    clear: left;
}